version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: employee_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "6001:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ../app/backend
      dockerfile: ../../docker/Dockerfile.backend
    container_name: backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/employee_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ../app/frontend
      dockerfile: ../../docker/Dockerfile.frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  pgdata:
